@import url('../../css/variable.css');

.tableComponent_table tr td:nth-child(3),
.tableComponent_table tr th:nth-child(3) {
    width: 20%;
}

.tableComponent_table tr td:nth-child(4),
.tableComponent_table tr th:nth-child(4),
.tableComponent_table tr td:nth-child(5),
.tableComponent_table tr th:nth-child(5) {
    width: 10%;
    text-align: center;
}

.planning__bigContainer {
    display: flex;
    flex-grow: 1;

    .planning__sideMenu {
        min-width: 300px;
    }
}

.planning__companyBelt {
    border-bottom: 1px solid var(--lightGrey3);
}

.planning__sideMenu {
    border-right: 1px solid var(--lightGrey3);
}

.planning__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


