.scannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  #scanner {
    display: flex;
    gap: 10px;
  }
  
  #barcodeInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .scannerButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .scannerButton:hover {
    background-color: #0056b3;
  }