@import url('../../../css/variable.css');

body {
    min-height: 100vh;

    .pageStructure {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        .pageStructure__bigContainer {
            display: flex;
            flex-grow: 1;
        
            .pageStructure__sideMenu {
                min-width: 300px;
                border-right: 1px solid var(--lightGrey3);
            }

            .pageStructure__container {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }
    }
}

.detailsContent {
    padding: 20px;

    .detailsContent__hr {
        margin: 10px 0;
    }
    
    .detailsContent__info {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 15px;
        margin-bottom: 35px;

        .detailsContent__infoP {
            width: 32.3%;
        }
    }

    .detailsContent__labelsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 20px;
        margin-bottom: 20px;

        .detailsContent__label {
            display: flex;
            flex-direction: column;
            width: 31.9%;
            font-weight: bold;

            input {
                width: 100%;
                padding: 3px;
                box-sizing: border-box;
                background-color: var(--lightGrey);
                border-radius: 5px;
                border: 1px solid var(--grey);
                margin-top: 3px;

                &::placeholder {
                    color: var(--black);
                }
            }

            p {
                font-weight: normal;
            }

            .detailsContent__label__box {
                display: flex;
                flex-direction: row;
                gap: 3px;
                align-items: center;

                input {
                    width: 40px;
                    text-align: center;
                }
            }
        }
    }

    .detailsContent__search {
        .detailsContent__searchInput {
            min-width: 290px;
            padding: 5px;
            box-sizing: border-box;
            background-color: var(--lightGrey);
            border-radius: 5px;
            border: none;

            &::placeholder {
                color: var(--black);
            }
        }
    }
}

.btn {
    margin-bottom: 20px;
}

/* Responsive */
@media (min-width: 400px) and (max-width: 1079px) {
    .pageStructure__bigContainer {
        flex-direction: column;
    }
}