@import url('../../../css/variable.css');

.formComponent__container {
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 800px;
    background-color: var(--white);
}

.formComponent__title {
    display : flex;
    align-items: center;
}

.formComponent__title p {
    margin-left: 5px;
}

.formComponent__title .formComponent__button {
    border: none;

    padding: 0;
    margin-right: 10px;
}

.formComponent__icon {
    transition: transform 0.3s ease-in-out;
    color: var(--wineRed);
}

.formComponent__icon:hover {
    color: var(--pastelRed);
}

.rotated {
    transform: rotate(90deg);
}  

.hidden {
    display: none;
}

.visible {
    display: block;
}

.formComponent__hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: var(--lightGrey);
}

.formComponent__LabelInputs {
    display: flex;
    flex-wrap: wrap;
}

.formComponent__label {
    width: 250px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.formComponent__label:nth-child(3n) {
    margin-right: 0px;
}

.formComponent__label {
    font-weight: bold;
}

.formComponent__input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--lightGrey);
    border: none;
}

.formComponent__input:focus {
    outline: none;
}

.formComponent__input::placeholder {
    color: var(--black);
}

