@import url('../../../css/variable.css');

.formComponent__bigContainer {
    padding: 10px;
    padding-top: 0px;
    margin: 0;
}

.formComponent__container {
    padding: 10px;
    padding-bottom: 0px;
    margin: auto;
    margin-bottom: 5px;
    background-color: var(--white);
    border-radius: 10px;
}

.formComponent__add {
    padding: 10px;
    padding-bottom: 20px;

    .formComponent__addInput {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .formComponent__addLabel {
            width: 31.9%;
            min-width: 250px;
            font-weight: bold;

            .formComponent__addInput {
                width: 100%;
                padding: 5px;
                box-sizing: border-box;
                background-color: var(--lightGrey);
                border: none;
                border-radius: 5px;
            }
        }
    }

    .formComponent__buttons {
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 20px;

        .formComponent__button {
            padding: 5px;
            border : 1px solid var(--wineRed);
            color: var(--wineRed);
            border-radius: 5px;
            max-height: 30px;
            width: 100px;

            &:hover {
                background-color: var(--wineRed);
                color: var(--white);
            }
        }
    }
}

.formComponent__search {
    margin-bottom: 10px;
    
    .formComponent__searchFormContainer {
        display: flex;
        gap: 10px;

        .formComponent__searchInput {
            min-width: 250px;
            max-width: 30%;
            margin-right: 20px;
            margin-bottom: 10px;
        }

        .formComponent__searchButton {
            display: flex;
            padding: 5px;
            border : 1px solid var(--wineRed);
            color: var(--wineRed);
            border-radius: 5px;
            max-height: 30px;
            
            .formComponent__searchIcon {
                font-size: 15px;
                margin-right: 5px;
            }
        }

        .formComponent__searchButton:hover {
            background-color: var(--wineRed);
            color: var(--white);
        }
    }
}

.formComponent__title {
    display : flex;
    align-items: center;
    padding-bottom: 10px;
  
    .formComponent__button {
        border: none;
        padding: 0;
        margin-right: 3px;

        .formComponent__icon {
            transition: transform 0.3s ease-in-out;
            color: var(--wineRed);
        }

        .formComponent__icon:hover {
            color: var(--pastelRed);
        }
    }
}

.rotated {
    transform: rotate(90deg);
}  

.hidden {
    display: none;
}

.visible {
    display: block;
}

.formComponent__hr {
    margin-bottom: 10px;
    width: 100%;
    color: var(--lightGrey);
}

.formComponent__LabelInputs {
    display: flex;
    flex-wrap: wrap;
}

.formComponent__label {
    min-width: 250px;
    width: 31.9%;
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.formComponent__label:nth-child(3n) {
    margin-right: 0px;
}

.formComponent__input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--lightGrey);
    border: none;
    border-radius: 5px;
}

.formComponent__input:focus {
    outline: none;
}

.formComponent__input::placeholder {
    color: var(--black);
}




