@import url('../../../css/variable.css');

button {
    cursor: pointer;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.tableComponent_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--lightGrey3);
}

.tableComponent_thead {
    background-color: var(--lightGrey3);
    text-align: left;
}

.tableComponent_table td,
.tableComponent_table th {
    padding: 5px;
}

.tableComponent_table tr:nth-child(even) {
    background-color: var(--lightGrey2);
}

.tableComponent_table .tableComponent_th-number {
    width: 30px;
}

.tableComponent_th-options {
    text-align: center;
}

.tableComponent_tdOptions {
    display: flex;
}

.tableContainer_pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableComponent_button,
.tableComponent_buttonNumber {
    border: none;
    margin-right: 5px;
}

button .tableComponent_buttonIcon {
    color: var(--darckGrey);
}
button .tableComponent_buttonIcon:hover {
    color: var(--pastelRed);
}

.tableContainer_pagination .tableComponent_buttonIcon {
    font-size: 20px;
}

.tableComponent_buttonNumber {
    font-size: 1.2rem;
    color : var(--darckGrey);
}

.tableComponent_buttonNumber:hover {
    border-bottom: 1px solid var(--pastelRed);
    color: var(--pastelRed);
}

.tableComponent-pageActive {
    color: var(--wineRed);
}

