@import url('../../../css/variable.css');


.tableComponenet__container {
    padding: 10px;
    margin-top: -20px;
}

.tableComponent__headerContainer {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    label {
        font-size: .97rem;
        margin-left: 10px;

        button {
            border: none;

            .tableComponent__paginationControls__buttonIcon {
                margin-bottom: -3px;
            }

            &:hover {
                color: var(--pastelRed);
            }
        }

        input {
            width: 30px;
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            padding: 2px;
            border: 1px solid var(--lightGrey3);
            font-size: .97rem;
            border-radius: 5px;

            &::placeholder {
                color: var(--black);
                font-size: .97rem;
            }
        }
    }
}

.tableComponent__table {
    padding: 10px;
    margin-top: -15px;

    .tableComponent__tableContainer {
        border: 1px solid var(--lightGrey3);
        width: 100%;
        border-collapse: collapse;

        .tableComponent__tableContainer__thead {
            background-color: var(--lightGrey3);
            text-align: left;
        }

        .tableComponent__tableContainer__tr {
            
            .tableComponent__tableContainer__thNumber {
                width: 30px;
                max-width: 30px;
            }

            .tableComponent__tableContainer__thOptions {
                text-align: center;
            }

            .tableComponent__tableContainer__th, 
            .tableComponent__tableContainer__td {
                padding: 2px;
            }

            .tableComponent__tableContainer__tdOptions {
                display: flex;
                justify-content: center;

                .tdOptions__button {
                    border: none;
                    margin-right: 5px;
                    cursor: pointer;

                    &:last-child {
                        margin-right: 0px;
                    }

                    &:hover {
                        color: var(--pastelRed);
                    }
                }
            }

            &:nth-child(even) {
                background-color: var(--lightGrey2);
            }
        }
    }

    .tableComponent__message {
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: var(--wineRed);
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
    }
}

/* Responsive */
@media (max-width: 1079px) {
    .tableComponent__tableControls {
        display: flex;
        flex-direction: column;
    }
    table {
        width: 100%;
        overflow-x: auto;
    }
}
